<!DOCTYPE html>
<html>
<head>
	<title>Distributor Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">

	<style>
		:focus { outline: none; }
		body {
			margin: 0;
			font-family: "Avenir Next",Nunito,"Helvetica Neue",Helvetica,sans-serif;
			font-size: 14px;
			color: #888888;
			font-weight: 400;
		}
		#root {
			/*position: absolute;*/
			/*top: 0; right: 0; bottom: 0; left: 0;*/
			/*display: flex;*/
		}
		.touchable {
			cursor: pointer;
			user-select: none;
		}
		.werner-slider {
			-webkit-transition: all 2s ease-in;
			-moz-transition: all 2s ease-in;
			-o-transition: all 2s ease-in;
			-ms-transition: all 2s ease-in;
			transition: all 2s ease-in;
			position: absolute; top: 0; left: 0;
			width: 500px; height: 500px;
		}

		.werner-slider.fade { opacity: 0; }
		.werner-slider.fade.active { opacity: 1; }
		.werner-slider.horizon { transform: translate(100%, 0); }
		.werner-slider.horizon.active { transform: translate(0, 0); }

		.root-container {
			background-color: red;
		}

		#root {

		}
	</style>
	<script type="text/javascript" src="https://use.typekit.net/fwa8umr.js"></script>
</head>

<body>
	<div id="root"></div>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>
	<h1>Lorem</h1>

	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>
